@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fira Sans", serif;
  background-color: #f5f5f5;
}

/* --------------------SharedStyle------------------------ */
.primary-title {
  color: #0e0e0e;
  font-size: 34px;
  font-weight: 700;
}

.card-heading {
  color: #0e0e0e;
  font-size: 17px;
  font-weight: 700;
}

.card-description {
  color: rgba(14, 14, 14, 0.7);
  font-size: 13px;
  font-weight: 400;
}

/* --------------------Nav Style--------------- */

#navigation {
  width: 1364px;
  /* width: 100%; */
  height: 85px;
  margin-bottom: 17px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 136px;
}

nav .title {
  color: #0e0e0e;
  font-size: 27px;
  font-weight: 700;
}

nav .btn {
  color: #006a50;
  font-size: 15px;
  font-weight: 600;
  padding: 13px 25px;
  border-radius: 6px;
  border: 1px solid #006a50;
}

/* ------------------------Banner Style--------------------- */

#banner {
  width: 1091px;
  height: 477px;
  background-color: #c6e4d6;
  margin: 0 auto;
  border-radius: 20px;
}

.banner-container {
  display: flex;
  gap: 55px;
  align-items: center;
  padding: 68px 85px;
}

.banner-title h5 {
  color: #0e0e0e;
  opacity: 50%;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 13px;
}

.banner-title p {
  color: #0e0e0e;
  font-size: 47px;
  font-weight: 700;
  margin-bottom: 20px;
}

.banner-btn {
  background-color: #006a50;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  padding: 14px 28px;
  border-radius: 6px;
  border: 1px solid #006a50;
}

#banner img {
  width: 404px;
  height: 341px;
}

/* ---------------------------MainStyle----------------------- */

#pillar-bd {
  width: 1091px;
  height: 276px;
  margin: 68px auto;
}

.pillar-bd-cards {
  display: flex;
  gap: 20px;
  margin-top: 27px;
}

.pillar-bd-card {
  background-color: #ffffff;
  width: 257px;
  height: 208px;
  padding: 20px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 13px;
}

.pillar-bd-card img {
  width: 54px;
  margin-bottom: 20px;
}

.pillar-bd-card-details h5 {
  margin-bottom: 10px;
}
